.registration_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient( 91.9deg,  rgba(75,207,250,1) 6.3%, rgba(25,159,249,1) 98.9% );
  /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.registration_card_container {
  background: var(--white-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
  padding: 1rem 2rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 15px;
}
.registration_leftside {
  width: 50%;
}
.registration_right .heading_h1 {
  /* margin-bottom: 2rem; */
  margin-top: 1rem;
  font-weight: 800;
  text-align: center;
}

.login_with_container {
  display: flex;
  justify-content: center;
  /* align-items: right; */
  /* cursor: pointer; */
}

/* .phone_container .react-tel-input .form-control {
    outline: 0 !important;
    border: 0px solid var(--gray-color) !important;
    border-bottom: 1px solid black !important;
    border-radius: 0px !important;
} */

/* .phone_container .react-tel-input .flag-dropdown{
    border: 0 !important;
    border-bottom: 1px solid black !important;
    border-radius: 0 !important;
    background-color: white !important;
} */

/* Material ui input lable  */
.input_container .css-9npbnl-MuiFormLabel-root-MuiInputLabel-root{
    color: var(--gray-color) !important;
}

/* material ui input field */
.css-ittuaa-MuiInputAdornment-root {
  padding-bottom: 0.5rem !important;
}

.css-i44wyl {
  width: 100% !important;
}

.css-1x51dt5-MuiInputBase-input-MuiInput-input {
  padding: 0 !important;
  padding-bottom: 0.5rem !important;
}

.forget_password .heading_para {
  color: var(--gray-color);
  font-size: 1rem;
  font-weight: 600;
  text-align: right;
  cursor: pointer;
  /* width: fit-content; */
}

.orDIvider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.orDIvider hr {
  width: 100%;
  color: var(--gray-color);
}

.orDIvider p {
  margin-bottom: 0;
  margin-top: 0;
  margin: 0 10px;
  color: var(--gray-color);
}

.login_container .heading_para {
  text-align: center;
  color: var(--gray-color);
  font-size: 1rem !important;
}

.login_container .heading_para span {
  cursor: pointer;
  color: var(--main-bg-color);
}

/************* Left side style START *************/
.registration_right {
  width: 50%;
}

.registration_leftside img {
  width: 100%;
}

/* Responsive for table  */
@media screen and (max-width: 768px) {
  .registration_card_container {
    width: 85%;
  }
}

/* Responsive for mobile */
@media screen and (max-width: 425px) {
  .registration_container {
    width: 100%;
    height: 100%;
  }

  .registration_card_container {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .registration_leftside {
    width: 100%;
  }

  .registration_right {
    width: 100%;
  }
}
