body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }

  .form-group {
    margin-bottom:10px;
  }
  .description-content{
    margin-top: 1rem;
    height: 23.3rem;
  }
  .form-group input[type="number"],
  .form-group input[type="text"]{
    height: 25px;
    width: 100%;
    padding: 15px;
    /* border: none; */
  }
  
