.trial-notification {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
    padding: 12px;
    margin: 10px 0px;
    border-radius: 5px;
    margin-top: 5px;

}

.trial-notification p {
    margin-bottom: 0px;

}

.upgrade-link {
    color: blue;
    cursor: pointer;
    /* text-decoration: underline; */
    margin-left: 10px;
}