.btn-mar {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  border-radius: 50px;
  padding: 5px 20px;
  border: hidden;
  background-color: var(--online-or-button); 
  color: var(--black-white);
  transition: all .3s;
}


.btn-mar:hover {
  background-color: var(--main-bg-color);
  color: var(--white-color);
}

.btn-mar.active{
  background-color:var(--button-bg-color);
  color: var(--button-color);
}

.inline-btn {
  display: inline;
  margin-right: 15px;

}
