/* css for error msg */
.error-msg {
  color: var(--red-color);
  margin-top: -20px;
  display: block;
  padding-bottom: 20px;
}

.add-newproduct-container {
  padding: 1.5rem;
  background: var(--white-color);
  border-radius: 10px;
  overflow-y: auto;
  height: 100%;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.add-newproduct-container::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.add-newproduct-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for hrome, Safari and Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.addprod-form input {
  width: 100%;
}

/* css for mandatory fields */
.required .form-label::after {
  content: " *";
  color: var(--red-color);
}

.select-tax {
  color: var(--back-color);
}

.main-img-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.img-container img {
  margin-right: 0 !important;
}

.image-delete {
  position: absolute;
  top: -121px;
  right: -21px;
}

.set-default-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.set-default-btn button {
  border-radius: 5px;
  border: none;
  background-color: var(--main-bg-color);
  color: var(--white-color);
  padding: 7px 15px;
}

.productMainContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  height: 80vh;
}

.productFromContainer {
  width: 60%;
  padding: 20px;
  background-color: var(--topHeader-bg-color);
}

.productPrevContainer {
  width: 38%;
  height: fit-content;
  background-color: var(--topHeader-bg-color);
}

/* product creation form input field */
.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  width: 100%;
}

.productItems {
  width: 45%;
}

.react-datepicker-wrapper {
  width: 100%;
}

.equal-width > div {
  flex: 1;
}
.equal-width > div:not(:last-child) {
  margin-right: 5px;
}
.equal-width > div:not(:first-child) {
  margin-left: 5px;
}

/********************** Media Query start **************************/

/* media query for tablet & laptop screen */
@media screen and (max-width: 1024px) {
  .productItems {
    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .productMainContainer {
    flex-direction: column-reverse;
    gap: 30px;
  }

  .productFromContainer {
    width: 100%;
    padding: 20px;
  }

  .productPrevContainer {
    width: 100%;
  }
}

/* unit select */
.css-1fdsijx-ValueContainer {
  padding: 3px 8px;
}

/* media query for mobile screen */
@media screen and (max-width: 425px) {
  .addprod-form {
    width: 100%;
  }

  .form-input {
    width: 100%;
  }
  .form-link {
    width: 100%;
  }
  .form-button {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .dragDrop-img {
    width: 150px;
  }
}

/********************** Media Query end **************************/
